body {
    margin : 0;
    padding : 0;
}

a{
    color: rgb(227, 17, 17);
}
.container {
    display: flex;
}

.box {
    height: 100vh;
}

.left-box {
    flex: 1;
    background-color : #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box{
    flex : 1;
    background-color: #e2d7dd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box img{
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}